{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image">
          <img src="static/image/bg1.jpg" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>HIRE-NOW</strong> 
            <br><br>
            HIRE-NOW connects jobseekers and recruiters by accurately matching candidate profiles to the relevant job openings through an advanced 2-way matching technology. While most job portals only focus on getting candidates the next job, HIRE-NOW focuses on the entire career growth of candidates.<br><br>HIRE-NOW works closely to bridge the gap between talent & opportunities and offers end-to-end recruitment solutions. HIRE-NOW Job Fair brings candidates and top employers under one roof. While HIRE-NOW HR Conclave brings top HR leaders to share insights on latest trends, innovations & best practices in the HR industry.
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item" aria-label="reply">
              <span class="icon is-small">
                <i class="fas fa-reply" aria-hidden="true"></i>
              </span>
            </a>
            <a class="level-item" aria-label="retweet">
              <span class="icon is-small">
                <i class="fas fa-retweet" aria-hidden="true"></i>
              </span>
            </a>
            <a class="level-item" aria-label="like">
              <span class="icon is-small">
                <i class="fas fa-heart" aria-hidden="true"></i>
              </span>
            </a>
          </div>
        </nav>
      </div>
    </article>
  </div>

    <h1 class="subtitle has-text-centered"><b>NEWEST JOBS</b></h1>

    <div class="columns">
        {% for job in jobs %}
            <div class="column is-4">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ job.title }}</p>
                                <p class="subtitle is-6">{{ job.created_at }}</p>
                            </div>
                        </div>

                        <div class="content">
                            {{ job.short_description }}

                            <hr>

                            <a href="{% url 'job_detail' job.id %}">View</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}